/*Réinitialiser les marges*/

body, ul{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif; 
}

 header {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	align-items: center;
 	padding: 0% 1%;
 }

 section {
 	padding: 0% 1%;
 }

 h1  {
 	font-size: 20px;
 	font-weight: bold;
 }

 h2 {
 	font-size: 17px;
 	margin-left: 1%;
 }

 h3 {
 	font-size: 15px;
 }

/*logo*/
 .logo {
 	display: flex;
 	justify-content: flex-start;
 	margin-left : 0px;
 }

/*navigation*/
 .menu {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	list-style-type: none;
 	width: 300px;
 	padding-right: 50px;
 	font-size: 0.8em;
 }
  .menu a {
  	padding-top: 30px;
 	text-decoration: none;
 	color: black;
 }
   .menu a:hover {
 	border-top : solid #0065FC;
 	color: #0065FC;
 }
   .menuOption3 a {
 	color: #0065FC;	
 	font-weight: bold;
 }

/*formulaires*/

.filtres-bar {
	padding-top: 2%;
	display: flex;
	justify-content: flex-start;
	width: 70%;
}

.filtres {
	margin-left: 5%;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #ffffff;
	border-color: #f2f2f2;
	border-style: solid;
	border-width: 2px;
	height: 3.7em;
}

.buttons-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DEEBFF;
	width : 40px;
	height: 100%;
	border-radius: 50%;
	margin-left: -8px;
	padding-left: 0;
}

.filtres h3 {
	margin-left : 10px;
	margin-right : 10px;
}


 i.fas,
  i.fab {
    border: 1px;
    border-radius: 50%;
  }


 /*STYLE DU MENU*/
 nav {
 	background-color: orange;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	color: black;
 }
 nav li {
 	list-style-type: none;
 	padding : 10px;
 }
  nav a:hover {
 	text-decoration-line: overline;
 }

/*BARRE DE RECHERCHE*/

.search-bar {
	width: 25%%;
	height: 2.5em;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 1%;
}



#boutonRecherche {
	border-style: none;
	border-radius: 0px 60px 60px 0px;
	background-color: #0065fc;
	opacity: 0.8;
	color: white;
	width: 150px;
	height: 3.7em;
}

#position {
	border-style: none;
	border-radius: 60px 0px 0px 60px;
	width: 3.5em;
	height: 3.7em;
}

input {
	border-color: #f2f2f2;
	border-style: solid;
	padding-left: 1%;
	height: 3.7em;	
}

/*STYLE DES ARTICLES*/

.mainContent {
	display : flex;
	flex-direction : row;
	width: 98%;
	padding: 0% 1%;

}


/*HEBERGEMENTS PRINCIPAUX*/
.mainHebergements {
	background-color : #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 70%;
	border-radius: 10px;
	overflow: auto;
	margin-right: 30px;
	}

.hebergements {
	background-color : #ffffff;
	border-radius: 9%;
	border-style: solid;
	border-width: 0.3em; 
	border-color: #ffffff;
	margin-right: 30px;
	height: 100%;
}


.mainHebergements ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
   	justify-content: flex-start;
   	align-items: flex-end;
   	margin: 0;
    padding: 0;
}


.mainHebergements li {
	list-style-type: none;
	width: 27%;
	height: 200px;
	margin: 20px;
}

.mainHebergements figure {
	width: 100%;
	overflow: hidden;
	height: 130px;
	margin: 0;
	padding: 0;
}

.mainHebergements figure img {
	overflow: hidden;
	width: 100%;
	border-radius: 17px 17px 0px 0px;
}

.mainHebergements figcaption {
	margin-top: 0;
	margin-left: 5%;
}

.mainHebergements a {
	margin-left: 3%;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}


/*HERBEGEMENTS POPULAIRES*/
.popularHebergements {
	background-color : #f2f2f2;
	width: 30%;
	border-radius: 10px;
	}

.popularHebergements li {
	list-style-type: none;
	overflow: hidden;
	margin : 5% 5%;
	height: 160px;
	display : flex;
}

.popularHebergements figure {
	width: 40%;
	height: 160px;
	overflow: hidden;
	height: 130px;
	margin: 0;
	padding: 0;
}

.popularHebergements figure img {
	width: 100%;
	border-radius: 17px 17px 0px 0px;
}

.popularHebergements figcaption {
	width : 60%;
}




/*HEBERGEMENTS POPULAIRES*/
/*.popular1 {
	background-image: url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.popular2 {
	background-image: url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.popular3 {
	background-image: url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}*/

/*ARTICLES*/


.activites_bloc {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: space-around;
}

.activites {
	background-color : #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-bottom-right-radius: 10%;
	border-bottom-right-radius: 10%;
	box-shadow: 0px 7px 5px #f2f2f2;
	border-width: 0.3em; 
	border-color: #ffffff;
	margin-right: 30px;
	width: 200px;
	height: 300px;


}

.halfCol {
	height: 150px;
}

article {
	text-align: center;
    margin: 0;
    padding: 0;
   	display: flex;
   	flex-direction: row;
   	justify-content: flex-start;
   	align-items: flex-end;
}

article h3 {
	width : 100%;
	height: 30px;
	background-color: #ffffff;
	margin-bottom: 0px ;
	
}

/*ARTICLES BACKGROUNDS*/

.act1 {
	background-image: url('../images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.act2 {
	background-image: url('../images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.act3 {
	background-image: url('../images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.act4 {
	background-image: url('../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.act5 {
	background-image: url('../images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.act6 {
	background-image: url('../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


/*footer*/
footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	background-color : #f2f2f2;
	padding: 0% 1%;
	}

footer div {
	width: 20%;
	margin-right: 10%;
}

footer p {
	font-size: 0.8em;
	line-height: 2em;	
}