/*Réinitialiser les marges*/

body, ul{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif; 
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
h1  {
	font-size: 20px;
	font-weight: bold;
}
h2 {
	font-size: 17px;
	margin-left: 0.8em;
}
h3 {
	font-size: 15px;
	margin : 0.3em 0;
}
p {
	font-size: 13px;
	margin : 0.3em 0;
}

header, .callToAction, .mainContent, #ancre2, .activites_bloc {
	box-sizing: border-box;
	padding : 0 1.5em;
}

/*logo*/
.logo {
	display: flex;
	justify-content: flex-start;
	margin: 0;
}

/*navigation*/
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	width: 300px;
	font-size: 0.8em;
}

.menu a {
	width: 100%;
	text-decoration: none;
	color: black;
}
.menu li{
	padding-top: 20px;
	width: 200px;
	text-align: center;
	border-top: solid 2px #0065fc00;
}
.menu li:hover {
	border-top : solid 2px #0065FC;
	color: #0065FC;
}
.menu a:hover {
	color: #0065FC;
}
.menuOption3 a {
	color: #0065FC;	
	font-weight: bold;
}
.menuMobile {
	display: none;
}

.menuMobile a {
	padding-top: 30px;
	text-decoration: none;
	color: black;
}


/*formulaires*/
.filtres-bar {
	padding-top: 1%;
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	width: 100%;
}
.filtres {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 3%;
	padding-right: 1%;
	border-radius: 50px;
	background-color: #ffffff;
	border-color: #f2f2f2;
	border-style: solid;
	border-width: 2px;
	height: 2.5em;
}
.filtres-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.animaux {
	width: 13em;
}
.buttons-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DEEBFF;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: -8px;
	padding-left: 0;
}
.filtres h3 {
	margin-left : 10px;
	margin-right : 10px;
}
i.fas,
i.fab {
	border: 1px;
	border-radius: 100%;
}
.filtresInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2em 0;
	background-color: #ffffff;
	border: none;
}
i.fa-info {
	color: #0065FC;
}
.info-icon {
	width: 30px;
	height: 30px;
	margin: 0 0.5em 0 0.25em;
	border: solid 2px #f2f2f2;
	background-color: white;
}
i.fa-chart-line {
	margin-right: 1.5em; 
}
.blueStar {
	color: #0065FC;
}

/*STYLE DU MENU*/
nav {
	background-color: orange;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: black;
}
nav li {
	list-style-type: none;
	padding : 10px;
}
nav a:hover {
	text-decoration-line: overline;
}

/*BARRE DE RECHERCHE*/
.search-bar {
	width: 32%;
	height: 2.5em;
	display: flex;
	justify-content: flex-start;
	margin: 1.5em 0;
}
#boutonRecherche {
	border-style: none;
	border-radius: 0px 20px 20px 0px;
	background-color: #0065fc;
	opacity: 0.8;
	color: white;
	width: 150px;
	height: 3.7em;
}
#position {
	border-style: none;
	border-radius: 20px 0px 0px 20px;
	width: 3.6em;
	height: 3.7em;
}
input {
	border-color: #f2f2f2;
	border-style: solid;
	padding-left: 1em;
	height: 3.7em;	
	width: 240px;
}

/*STYLE DES ARTICLES*/
.mainContent {
	display : flex;
	flex-direction : row;
	width: 100%;
	margin-bottom: 50px;
}
.mainContent h3 {
	margin-top: 3%;
}
/*HEBERGEMENTS PRINCIPAUX*/
.mainHebergements {
	background-color : #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 70%;
	border-radius: 10px;
	overflow: auto;
	margin-right: 30px;
	padding-left: -1%;
}
.hebergements {
	background-color : #ffffff;
	border-radius: 9%;
	border-style: solid;
	border-width: 0.3em; 
	border-radius: 20px;
	border-color: #ffffff;
	margin-right: 30px;
	height: 100%;
}
.mainHebergements ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 0;
	padding: 0;
}
.mainHebergements li {
	list-style-type: none;
	width: 27%;
	height: 200px;
	margin: 2%;
}
.mainHebergements figure {
	width: 100%;
	overflow: hidden;
	height: 130px;
	margin: 0;
	padding: 0;
	border-radius: 20px 20px 0px 0px;
	border-color: #ffffff;
}
.mainHebergements figure img {
	width: 120%;
	overflow: hidden;
}
.main6 img {
	position: relative;
	bottom: 6em;
}
.mainHebergements .figcapt	 {
	margin-top: 0;
	margin-left: 5%;
}
.mainHebergements a {
	margin-left: 3%;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
.mainHebergements h2 {
	margin-left: 2%;
}
article figure img {
	overflow: hidden;
}

/*HEBERGEMENTS POPULAIRES*/
.popularHebergements {
	background-color : #f2f2f2;
	width: 30%;
	border-radius: 10px;
}
.popularTopBar {
	display: flex;
	justify-content: space-between;
	align-items : center;
}
.popularHebergements li {
	list-style-type: none;
	overflow: hidden;
	margin : 5% 5%;
	height: 160px;
	display : flex;
}
.popularHebergements figure {
	width: 45%;	
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.popularTopBar h2 {
	margin-left: 6%;
}
.popularHebergements figure img {
	height: 100%;
}
.popularHebergements .figcapt {
	width : 50%;
	margin: 1em 1em;
}
.popular3 figure {
	position: relative;
	top: -3.5em;
	height: 170%;
}
/*ARTICLES*/
.activites_bloc {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	list-style: none;
	width: 100%;
	height : 475px;
	margin-bottom: 50px;
}
.activites {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 10px;
	border-color: #ffffff;
	box-shadow: 0px 7px 5px #f2f2f2; 
}
.activites figure {
	height: 90%;
	border-radius: 10px 10px 0 0;
	border-color: #ffffff;	
}
.activites h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin : 0;
}
.fullCol , .halfColDiv {
	height: 100%;
	width : 23%;
}
.halfColDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.halfCol {
	height: 48%;
}
article {
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}
article h3 {
	width : 100%;
	height: 30px;
	background-color: #ffffff;
	margin-bottom: 0px;
}
article figure {
	width: 100%;
	overflow: hidden;
	height: 130px;
	margin: 0;
}
article figure img {
	height: 100%;
	width: auto;
}
.act2 figure img {
	width: 100%;
	height: auto;
	position : relative;
	bottom: 10em;
}
.act3 figure img {
	width: 100%;
	height: auto;
	position: relative;
	top: -2em;
}
.act3 figure img, .act5 figure img{
	height: 200%;
	width: auto;
	position: relative;
	top: -2em;
}
.act6 figure img {
	height: 250%;
	position: relative;
	top: -4em;
}
.act2.halfCol {
	height: 40%;
}
.act3.halfCol {
	height: 58%;
}




/*footer*/
footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	background-color : #f2f2f2;
	padding: 2%;
	width : 96%;
}

footer ul {
	width: 20%;
	margin-left: 3%;
	margin-right: 5%;
}

footer li {
	list-style-type: none;
	font-size: 0.8em;
	line-height: 2em;	
}



@media screen and (max-width: 1000px) { 
	.mainHebergements li {
		width: 44%;
	}
}

/*MEDIA QUERIES TABLETTE*/

@media screen and (max-width: 1300px) {

	.act2 figure img {
		width: 100%;
		bottom: 9em;
	}
}

@media screen and (max-width: 1100px) {

	.act2 figure img {
		bottom: 6em;
	}
}



@media screen and (max-width: 768px) {
	
	header, .callToAction, .mainContent, #ancre2, .activites_bloc {
		padding : 1% 2%;
		width: 98%;
	}
	.filtres-bar { 
		flex-wrap: wrap;
		width: 96%;
	}
	.filtresInfo {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.animaux { 
		margin-top: 2%;
		margin-bottom: 1%;
	}
	#position {
		padding: 20px;
	}
	.mainHebergements {
		margin-right: 10px;
	}
	.mainContent {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		padding: 0;
		margin-bottom: 0;
	}
	.mainContent > * {
		width: 100%;
		margin-bottom : 1.5em;
	}
	.mainHebergements {
		display : flex;
		flex-wrap: wrap;
		flex-direction: column;
		background-color: white;
	}
	.mainHebergements ul > * {
		width: 45%;
		border-style: solid;
		border-width: 0.1em;
		border-color: #f2f2f2f2;
		box-shadow: 0px 7px 5px #f2f2f2;
	}
	.mainHebergements h2 {
    margin-left: 5%;
	}
	.popularHebergements {
		border-radius: 0;
	}
	.popularHebergements figure img {
    height: auto;
    width: 100%;
    position: relative;
    top: -20%;
	}
	.mainHebergements figure img {
    height: auto;
    width: 100%;
    position: relative;
    top: -30%;
	}
	article figure img {
		display: flex;
		justify-content: flex-end;
		overflow: hidden;
	}
}


/*MEDIA QUERIES PORTABLE*/

@media screen and (max-width: 576px) {

	header, .callToAction, .mainContent, #ancre2, .activites_bloc, footer {
		padding: 1%;
		margin: 0;
	}	
	.menu {
		justify-content: flex-end;
		padding-right: 20px;
	}
	.menu li {
    text-align: right;
	}
	.menuOption1, .menuOption2 {
		display: none;
	}
	.menuMobile {
		display: flex;
		justify-content: space-around;
		align-items: center;
		list-style-type: none;
		padding-top: 0.7em;
		font-size: 0.9em;
	}
	.menuMobile li {
		width: 100%;
		text-align: center;
		border-bottom: solid 3px #f2f2f2;
		padding-bottom: 1em;
	}
	.menuMobile a:hover {
		color: #0065FC;
	}
	.menuMobile li.menuMobile1:hover , .menuMobile li.menuMobile2:hover {
		border-bottom: 3px solid blue;
	}
	.filtres-bar {
		display: flex;
		flex-wrap: wrap;
		width: 70%;
	}
	.filtres-list li {
		margin-top: 10px;
	}
	i.fa-info {
		border: solid 10.5px #f2f2f2;
	}
	#info {
		text-align: left;
	}
	#position {
		padding: 20px;
	}
	.mainHebergements ul {
		width: 100%;
	}
	.mainHebergements ul > * {
		width: 95%;
	}
	.mainHebergements figure img {
	   height: auto; 
	   position: relative;
	   top: 0;
	}
	.popularHebergements figure img {
	    height: 300px;
	    width: auto;
	    position: relative;
	    top: 0;
	}
	#afficherPlus {
		margin-top: 5%;
	}
	/*partie activites*/
	.activites_bloc {
		display : flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: auto;
		margin-bottom: 5.5em;
	}
	.activites_bloc div {
		width: 100%;
	}
	.activites {
		border: 0;
		height: 100%;
		border-style: none;
	}
	.fullCol {
		margin-top: 1.5em;
		height : 30vh;
	}
	.halfColDiv {
		height : 60vh;
	}
	.fullCol, .halfColDiv {
		width: 100%; 
	}
	.halfColDiv>* {
		margin-top: 1.5em;
		height : 30vh;
	}
	.halfCol {
		margin-top: 0.5em;
		height : 30vh;
	}
	.fullCol2 {
		margin-top: 5em;
	}
	.activites figure img {
		position: relative;
		top: -4em;
	} 
	.act1 figure img {
		height: auto;
    	position: relative;
    	top: -14em;
	}
	.act2 figure img {
		height: auto;
    	position: relative;
    	top: -14em;
	} 

	.act3 figure img, .act4 figure img, .act5 figure img,  .act6 figure img {
    width: 100%;
    height: auto;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin: 0;
	}
	footer ul {
		width: 100%;
		margin : 0;
		margin-bottom: 5%;
	}
	footer h3 {
	}
}